<div class="container">
  <!-- Note menu -->
  <div class="row" style="margin-top:12px;">
      <button type="button"
              (click)="toggleShowForm()"
              class="btn pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New ToDo
      </button>
  </div>

  <!-- Note content -->
  <div class="row" style="margin-top: 28px;">
    <div class="col-md-9">

      <div *ngIf="showForm" class="row">
        <app-note [note]="note" (noteCreated)="createNote($event)" (noteUpdated)="updateNote($event)"></app-note>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h3>ToDo List</h3>
        </div>
      </div>

      <div class="row">
        <!-- Note list -->
        <table class="table">
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Event Date</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let n of notes; let i = index">
            <td>{{i + 1}}</td>
            <td>{{n.title}}</td>
            <td>{{n.description}}</td>
            <td>{{n.eventDate | date:'fullDate'}}</td>
            <td>
              <a (click)="updateNote(n)" class="pull-left">
                <i class="fa fa-pencil fa-fw"></i>
              </a>
              <a (click)="deleteNote(n)" class="pull-right text-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
